* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: auto;
    border: 5px solid blueviolet;
    font-size: 40px;
    text-align: center;
}

header {
    padding: 20px;
    background: grey;
    border: 1px solid black;
}

nav {
    color: white;
    background-color: red;
    text-shadow: 5px 5px 10px black;
    padding: 20px;
}

main {
    padding: 20px;
    background: grey;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    line-height: 70vh;
    border: 1px solid black;
}

.aside1 {
    color: white;
    background-color: blue;
    text-shadow: 5px 5px 10px black;
    padding: 20px;
    flex: 1 1 25%;
    border-right: 20px solid grey;
}

.main {
    color: white;
    background-color: pink;
    text-shadow: 5px 5px 10px black;
    padding: 20px;
    flex: 2 1 40%;
    border-left: 20px solid grey;
    border-right: 20px solid grey;
}

.aside2 {
    color: white;
    background-color: yellow;
    text-shadow: 5px 5px 10px black;
    padding: 20px;
    flex: 1 1 25%;
    border-left: 20px solid grey;
}

footer {
    /* position: fixed;
    bottom: 5px;
    left: 5px;
    right: 5px; */
    padding: 20px;
    background: grey;
    border: 1px solid black;
}

div {    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: green;
    text-shadow: 5px 5px 10px black;
    padding: 20px;
}


@media screen and (max-width: 650px) {
    body {
    min-height: 100vh;
    border: 5px solid blueviolet;
    }
    main {
    display: flex;
    flex-direction: column;
    line-height: 20vh;
    }
    .aside1 {
        flex: 1 1 20%;
    }
    .main {
        order: -1;
        flex: 1 1 20%;
    }
    .aside1 {
        flex: 1 1 20%;
    }
    footer {
       display: flex;
       justify-content: center;
       align-items: center;
    }
}